// © 2023 Bio-Rad Laboratories, Inc. All Rights Reserved.
.message-wrapper {
  text-align: justify;
  letter-spacing: 0.5px;
}

.error-close {
  right: -16px !important;
  top: -12px !important;
  cursor: pointer !important;
}
