// © 2023 Bio-Rad Laboratories, Inc. All Rights Reserved.


.button-section {
  margin-bottom: 21px;
  mat-dialog-actions {
    padding: 0;
  }
}

.cancel-btn {
  padding: 0;
  width: 76px;
  height: 36px;
}
