// © 2023 Bio-Rad Laboratories, Inc. All Rights Reserved.
.br-dialog {
  .logout-warning-title {
    font-weight: bold;
    margin-left: 25%;
  }

  .logout-warning-subtitle {
    margin-left: 35px;
  }

  .signout-button{
    text-transform: none;
    height: 40px;
    min-width: 97px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
