// © 2023 Bio-Rad Laboratories, Inc. All Rights Reserved.
@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/base/variables-peak";
@import "../../../../assets/scss/mixins";
@import "../../../../assets/scss/vendors/angular-material/mixins";

.flex-container {
  justify-content: space-between;
  align-items: center;

  .heading {
    font-size: 12px;
    font-weight: normal;
    color: $blue-darker;
  }
}

.search-location-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;

  .field-Category {
    width: 200px;
    margin-right: 40px;
  }

  mat-form-field {
    width: 300px;
  }

  input {
    margin-right: 40px;
  }

  .set-width {
    width: 18px;
  }
}

.table-container-shadow {
  position: relative;

  .table-container {
    margin: 0px 45px 2px 45px;
    overflow-x: auto;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    .table-head {
      z-index: 10;
      position: relative;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      padding: 0 ($custom-space-base + $custom-space-small);

      @include media(tablet-and-up) {
        display: block;
      }

      .mat-form-field {
        margin-top: 0;

        .mat-icon {
          @include md-icon-size($size: $custom-type-size-large);
        }
      }
    }

    .set-height {
      height: calc(100vh - 325px);
      background: $white;
    }

    .mat-table {
      min-width: fit-content;

      ::ng-deep .mat-sort-header-arrow[style] {

        // Hide default arrow stem
        .mat-sort-header-stem {
          display: none;
        }

        .mat-sort-header-indicator {
          opacity: 1;
          color: $black;
          font-weight: bold;

          // Hide default arrow as its composed of left, right and middle
          .mat-sort-header-pointer-left,
          .mat-sort-header-pointer-right,
          .mat-sort-header-pointer-middle {
            display: none;
          }
        }
      }

      .mat-column-labIdentification {
        flex: 0 0 18%;
      }

      .mat-header-row {
        min-height: 40px;
        box-shadow: inset 0 -6px 9px -9px rgba(50, 50, 50, 0.75) !important;

        .mat-header-cell {
          min-width: 170px;
          font-weight: bold;
          color: $blue-darker !important;
          letter-spacing: 0.1rem;

          .heading {
            font-weight: normal;
            letter-spacing: 2px;
          }

          &:first-of-type {
            padding-left: ($custom-space-base + $custom-space-small);
          }
        }
      }

      .mat-row {
        border-bottom-color: $bottom-border-color !important;

        .mat-cell {
          min-width: 170px;
          word-break: break-all;

          .align-top {
            margin: -28px 0px;
          }

          .flex-column {
            flex-direction: column;
            align-items: flex-start;
            padding-right: 20px;

            .lab-name {
              cursor: pointer;
            }

            &.main-text {
              div {
                margin: -28px 0px;
              }
            }
          }

          ::ng-deep .expiration-date {
            height: 24px;
            margin-bottom: 5px;
          }

          padding-top: ($custom-space-small + $custom-space-xxsmall);
          padding-bottom: ($custom-space-small + $custom-space-xxsmall);

          a {
            cursor: pointer;
            text-decoration: none;

            &:hover,
            &:focus {
              color: $indigo;
            }
          }

          &:first-of-type {
            padding-left: ($custom-space-base + $custom-space-small);
          }
        }

        &:hover {
          background: $table-row-selected;
        }
      }
    }

    .single-item {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      background: white;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }

    .arrow-icon {
      margin-left: 5px;
      width: 10px;
    }

    .rotate {
      transform: rotate(180deg);
    }
  }
}

.table-container-shadow:after {
  content: "";
  background-color: transparent;
  position: absolute;
  z-index: -1;
  top: 35px;
  left: 45px;
  right: 45px;
  width: calc(100% - 90px);
  height: calc(100vh - 360px);
  box-shadow: 0 3px 5px 0px rgba(50, 50, 50, 0.75);
}

.pagination-container {
  margin: 0px 45px 2px 45px;

  .custom-pagination {
    display: flex;
    justify-content: center;
    margin: 18px 0;

    .pagination-button {
      margin: 0 10px;
      padding: 0;
      min-width: 45px;
      background: $blue-darker;
      color: $white;
    }

    .mat-stroked-button.mat-primary.selected {
      background: $white;
      border: 1px solid rgba($gray-600, 0.4);
      color: $blue-darker;

      &.disable-button {
        color: $gray-600;
      }
    }

    .rotateArrow {
      transform: rotate(180deg);
    }
  }
}

.text-click {
  color: $indigo;
}

.launch-btn {
  width: 158px;
  height: 30px;
  padding: 7px 16px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-upper {
  text-transform: none !important;
}

.mat-column-locations {
  flex: 0 0 5%
}

.mat-column-licenseType {
  flex: 0 0 5%
}

.scroll-container {
  margin-left: 0px
}
