// © 2023 Bio-Rad Laboratories, Inc. All Rights Reserved.
.hdr {
    .mat-dialog-content {
        margin-bottom: 12px;
        text-align: justify;
        letter-spacing: 0.5px;
    }

    .close {
        right: -5px;
        top: -5px;
    }
}