<!-- © 2023 Bio-Rad Laboratories, Inc. All Rights Reserved. -->
<div class="setting-bar-component">

<!--   <button mat-icon-button>

      <mat-icon aria-label="settings icon" [matMenuTriggerFor]="appMenu">{{'SETTINGBAR.SETTINGS' | translate}}</mat-icon>
  </button>

  <mat-menu #appMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item *ngIf="isAdmin" (click)="navigateToLabSetup()">
      <span class="mat-small">{{'SETTINGBAR.LAB' | translate}}</span>
    </button>

    <button mat-menu-item *ngIf="isAccountManager" (click)="navigateToAccountManagement()">
      <span class="mat-small">{{'SETTINGBAR.ACCOUNT' | translate}}</span>
    </button>

    <button mat-menu-item *ngIf="isAdmin" (click)="navigateToUserManagement()">
      <span class="mat-small">{{'SETTINGBAR.USER' | translate}}</span>
    </button>

    <button mat-menu-item *ngIf="(isAdmin || isUser) && hasConnectivityLicense" (click)="navigateToConnectivityMapping()">
      <span class="mat-small">{{'SETTINGBAR.MAPPING' | translate}}</span>
    </button>

    <button mat-menu-item *ngIf="isAdmin || isUser" (click)="navigateToDashboard()">
      <span class="mat-small">{{'SETTINGBAR.DASHBOARD' | translate}}</span>
    </button>

    <button mat-menu-item (click)="openReleaseNotes()">
      <span class="mat-small">{{'SETTINGBAR.RELEASE' | translate}}</span>
    </button>

    <button class="dbl-line" mat-menu-item (click)="openTermsOfUse()">
      <span class="mat-small">{{'SETTINGBAR.SERVICE' | translate}}</span>
    </button>
  </mat-menu> -->
</div> <!-- /setting-bar-component -->


