.year-picker {
  position: relative;
  top: 5px;
  .mat-calendar-period-button {
    pointer-events: none;
  }
  .mat-calendar-arrow {
    display: none;
  }
}

::ng-deep .mat-calendar-arrow {
  display: none;
}

::ng-deep .mat-calendar-period-button {
  pointer-events: none;
}