<!-- © 2023 Bio-Rad Laboratories, Inc. All Rights Reserved.-->

  <dl class="description-block">
    <dt>
      <span id="spec_analyte-description-hierarchyText">{{currHierarchyText}}</span>
    </dt>
    <dt>
      <span>{{'ANALYTEDESCRIPTION.METHOD' | translate}}</span>
      <span id="spec_analyte-description-method">  {{currMethod}}</span>
    </dt>
    <dt>
      <span>{{'ANALYTEDESCRIPTION.REAGENT' | translate}}</span>
      <span id="spec_analyte-description-reagent">  {{currReagent}}</span>
    </dt>
    <dt>
      <span>{{'ANALYTEDESCRIPTION.CALIBRATOR' | translate}}</span>
      <span id="spec_analyte-description-calibrator">  {{currCalibrator}}</span>
    </dt>
    <dt>
      <span>{{'ANALYTEDESCRIPTION.UNIT' | translate}}</span>
      <span id="spec_analyte-description-unitOfMeasure">  {{unitOfMeasure}}</span>
    </dt>
  </dl>

