<!-- © 2023 Bio-Rad Laboratories, Inc. All Rights Reserved. -->
<span [ngClass]="{'selected': isNodeSelected,'twoLines': secondaryDisplayText || additionalDisplayText}"
    class="sidenav-link">
    <div class="spec_sidenav_link" (click)="onNodeItemSelected($event)">
        <div [ngClass]="isArchived?'primary-dispaly-text grey':'primary-dispaly-text'">
            {{primaryDisplayText}}
            <em *ngIf="showTooltip && itemNodeType === entityType.LabTest" class="info sub-vertical-align"
                [ngClass]="{'fix-position': primaryDisplayText.length > 32}">
                <unext-node-info [analyteId]="nodeId"></unext-node-info>
            </em>
        </div>
        <div class="d-flex">
            <div *ngIf="secondaryDisplayText" class="mat-small grey control-name" matTooltip="{{secondaryDisplayText}}">
                {{secondaryDisplayText}}</div>
            <span *ngIf="additionalDisplayText" class="mat-small lot-number">{{additionalDisplayText}}</span>
        </div>
    </div>
</span>
